/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #222;
  /* background-image:   linear-gradient(
    to right, 
    rgb(7, 7, 7) ,rgb(144, 140, 140)
    
  ); */
}

html {
  scroll-behavior: smooth;
}

p {
  color: #fff;
  font-size: 20px;
}
h1{
  font-family: 'Times New Roman', Times, serif;
}
/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color:#fff;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(251, 97, 97);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  color: #ca5a5a;
}


/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.title{
  margin-bottom: 80px;
  color: #fff;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: block;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}
.imggg{
  width: 700px;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 1rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(163, 136, 136) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(8, 8, 8);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 1rem;

}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 1000px;
  margin-top: 30px;
 
}
:right
.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1rem;
  background-image:linear-gradient(rgba(254, 248, 248, 0.608),#7a5959b7);
  border:  0.1rem solid;
  border-color: rgb(50, 49, 49);
  text-align: center;
  box-shadow:0 5px 5px rgba(56, 54, 54, 0.685);
  z-index: 1;
}
.details-container:hover{
  box-shadow:8px 8px 8px  rgba(255, 254, 254, 0.319);
 }

 
.d{
  animation: moving-arrow 20s linear normal;
}
@keyframes moving-arrow{
  0%
  {
left: 0;
  }
  50%{
    left: -400px;
  }
 
}
.about-containers{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(500px,1fr));
  gap: 30px;
  justify-content: center;
  z-index: 1000000000;
}
.article-container .box{
  position: absolute;
  background-color: rgba(68, 61, 61, 0.822);
  width: 90%;
  height:0% ;
  color: #fff;
  font-size: 20px;
  display: none;
  text-align: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  border-radius: 20px;
}

.article-container:hover .box{
  display: flex;
  height:58% ;
  
  animation: zomming 1s;
}
@keyframes zomming{
  0%{transform:scale(0)}
100%{transform: scale(1);}}


.section-container {
  gap: 4rem;
  height: 90%;
}

.section__pic-container {
  height:600px;
  width:600px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.aboutt-containers {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(200px,1fr));
  gap: 50px;
}
.experiencee-details-container {
  display: flex;
  justify-content: center;
  
  
  /* flex-direction: column; */

}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;

}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;

}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */
#projects{
  /* position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(400px,1fr)); */
}
#projects .details-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(330px,1fr));
  justify-content: center;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background-color:rgb(236, 229, 229);
}

.project-img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  box-shadow:0 20px 15px rgb(0 0 0 / 10%) ;

}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  height: 50px;
}

/* CONTACT */

#contact {
  justify-content: center;
  position: relative;
  bottom: 0;
  height: max-content;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(122, 71, 71);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  box-shadow: 0 0 10px #cd3d3d,
  0 0 30px #424040;
}

 .skills1  {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,2fr));
  gap: 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.skills1 .contact-info-upper-container{
  padding: 40px;
  width: 90px;
  height: 70px;
  border-radius: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;

}

footer p {
  text-align: center;
}
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .about-details-cont ainer {
    width: 300px;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  .section__text{
    margin-top: 270px;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    
  }
  .im,.imm{
    display: none;
  }
 .imggg{
    position: absolute;
    right: 0;
    bottom: 0;
   left: 30px;
   z-index: -1;
  }
  .section__pic-container .imm{
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .about-containers {
    margin-top: 0;
  }
  
  #projects{
    height: max-content;
    
  }
  #contact
   {
    height: max-content;
  }
  .skills1  {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(170px,2fr));
    gap: 10px;}
    .skills1 .contact-info-upper-container{
      padding: 40px;
      width: 80px;
      height: 60px;}

}

#contact,
footer {
  height: max-content;
  position: relative;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: max-content;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
    margin-top: 30px;
  }
  .about-containers{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 30px;
    justify-content: center;
    
  }
  .text-container {
    text-align: justify;
    margin-top: 40px;
  }
  
  .nav-links{
    margin-top: 100px;
  }
  .imggg{
    position: relative;
    right: 0;
    bottom: 0;
  }
  
  .about-content .info{
    padding-right: 0;
  }
 
}

/* .skills{
  justify-content: center;
  align-items: center;
} */

 .title{
  margin-top: 80px;
}

section,
  .section-container {
    height: fit-content;
  }


.number{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.number h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5em;
}
.number h2 span{
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}
.number p{
 font-weight: 300;
 color: #fff;
 font-size: 0.75em;
 text-transform: uppercase;
 color:rgba(255,255,255,0.75);
 letter-spacing: 2px;
}
.imge{
  display:flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;

}
.about-content{
  flex: 0 0 100%;
  max-width: 100%;
}
.about-content .about-text{
  flex: 0 0 100%;
  max-width: 100%;

}
.about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: antiquewhite;
}
.about-content .about-text h3 span{
  color: rgb(228, 87, 87);
}
.about-content .about-text p{
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}
.about-content .info{
  flex: 0 0 75%;
  max-width: 60%;
  margin-top: 50px;

}
.about-content .info1{
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 50px; 
}
.about-content .info .info2{
  flex: 0 0 50%;
  max-width: 50%;
  
}
.about-content .info2{
  flex: 0 0 50%;
  max-width: 50%;
}
.about-content .info2 p{
  font-size: 16px;
  padding: 30px 0;  
  font-weight: 600;
  border-bottom: 1px  solid #e93333;
  display: flex;
}
.about-content .info2 p span{
  font-weight: 400;
  color: rgb(209, 201, 201);
  margin-left: 4px;
  display: inline-block;
}
.about-content  .button{
  margin-top:70px;
}
.about-content .info2 p,span{
flex-wrap: wrap;
}
.project-img:hover{
 
  cursor: pointer;
}
